<div id="cart-banner-overlay" data-animation-target="overlay" class="hidden w-full">
    <div class="bg-pink-300">
        <div class="container mx-auto text-center">
            <div role="button" data-cart-open class="relative bg-pink-300 px-3 sm:px-8 py-2 rounded-md font-semibold text-white select-none hover:bg-pink-300/75 active:bg-pink-400 d-flex items-center justify-center">
                <span>{% render 'icon-cart', class: 'h-8 w-8 sm:h-6 sm:w-6 inline' %}</span>
                <span>My bag</span>
                <span> - </span>
                <span data-cart-count="full">empty</span>
                <span> - Total: </span>
                <span data-cart-total class="font-bold">$0.00 USD</span>
            </div>
        </div>
    </div>
</div>