<div class="mt-16 pt-10 pb-12 bg-white rounded-md">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-12">
        <div class="container mx-auto flex flex-col items-center gap-8">
            <div class="bg-sky-500 h-24 w-24 rounded-md flex justify-center items-center">
                <span>{% render 'icon-shipping', class: 'h-12 w-12 fill-white' %}</span>
            </div>
            <div class="text-center">
                <div class="text-2xl">Free Worldwide Delivery</div>
                <div>Cuddle Up Without Breaking the Bank</div>
            </div>
        </div>
        <div class="container mx-auto flex flex-col items-center gap-8">
            <div class="bg-sky-500 h-24 w-24 rounded-md flex justify-center items-center">
                <span>{% render 'icon-store', class: 'h-12 w-12 fill-white' %}</span>
            </div>
            <div class="text-center">
                <div class="text-2xl">Safe Payments Guaranteed</div>
                <div>Shop with a Smile and No Worries</div>
            </div>
        </div>
        <div class="container mx-auto flex flex-col items-center gap-8">
            <div class="bg-sky-500 h-24 w-24 rounded-md flex justify-center items-center">
                <span>{% render 'icon-returns', class: 'h-14 w-14 fill-white' %}</span>
            </div>
            <div class="text-center">
                <div class="text-2xl">30 Days No-Risk Returns Policy</div>
                <div>No Risk Involved, Love It or Return It</div>
            </div>
        </div>
    </div>
</div>