{% if product.metafields.section.social_media_video_embed != blank %}
    <div class="my-12 py-8 bg-white rounded-md">
        <h2 class="text-4xl font-extrabold text-center mb-8">TikTok Showcases!</h2>
        <div data-social-media-video-embed-state="default">
            {% for video_link in product.metafields.section.social_media_video_embed.value %}
                <div data-video-url="{{ video_link }}"></div>
            {% endfor %}
        </div>
        <div data-social-media-video-embed-state="loading" class="hidden">{% render 'icon-loading', class: 'animate-spin mx-auto h-16 w-16 text-sky-500' %}</div>
    </div>
{% endif %}